name: Main workflow
on:
  push:
    branches: [ master ]
    
jobs:
  unit-test:
    runs-on: ubuntu-latest
    name: Run unit tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - run: mvn clean install
        working-directory: ./impl
      - run: mvn test
        working-directory: ./impl
  build-jar:
    needs: [ unit-test ]
    runs-on: ubuntu-latest
    name: Build the jar file
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build with Maven
        run: mvn clean package
        working-directory: ./impl
      - name: Upload builded jar
        uses: actions/upload-artifact@v2
        with:
          name: gamificator.jar
          path: impl/target/fruits-impl-1.0.0.jar
  build-docker-image:
    needs: [ build-jar ]
    runs-on: ubuntu-latest
    name: Build and push the docker image
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download builded jar
        uses: actions/download-artifact@v2
        with:
          name: gamificator.jar
          path: impl/target/
      - name: Build Docker image
        run: |
          echo ${{ secrets.REGISTRY_TOKEN }} | docker login ghcr.io -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin
          docker build -t ghcr.io/digitalpatate/gamificator .
          docker push ghcr.io/digitalpatate/gamificator
#  server-up:
#    needs: [ build-docker-image ]
#    runs-on: ubuntu-latest
#    name: Server up
#    steps:
#      - uses: actions/checkout@v2
#      - name: Set up JDK 11
#        uses: actions/setup-java@v1
#        with:
#          java-version: 11
#      - run: docker-compose pull
#      - run: docker-compose up -d
#  cucumber-test:
#    needs: [ server-up ]
#    runs-on: ubuntu-latest
#    name: cucumber tests
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#      - name: Run cucumber tests
#        uses: actions/setup-java@v1
#        with:
#          java-version: 11
#      - run: mvn clean test
#        working-directory: ./specs